backend/node_modules
backend/dist
frontend/node_modules
frontend/.next
.DS_Store
package-lock.json
frontend/.env
frontend/.env.local
frontend/package.json
frontend/next.config.js
backend/.env
.gitignore
backend/yarn.lock
